@use "../utils/variable";

.menus{
    background-color: #f6f6f6;
    h2{
        margin-bottom: 2rem;
    }

    .menu_card{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        gap: 2rem;  
        @media (max-width: variable.$breakpoint) {
            grid-template-columns: repeat(1, 1fr);
        }
        

}

.card{
    &__image{
        border-radius: 1rem;
        background-size: cover;
        object-fit: cover;
        height: 15rem;
    }
    @for $i from 1 through 4 {
       &__image-#{$i}{
            background-image: url("../images/restaurants/menu-#{$i}.jpg");
        }
    }
 }
}

/* @for est une boucle qui me permet de prendre les même parametre pour toute les photos*/